/* Sets the background colour for the entire page */
body {
    background-color: #e9e9e9;
}

/* Adds padding around the page on tablet screen sizes */
@media (min-width: 720px) {
    body {
        padding: 5%;
    }
}

/* Adds even more padding around the page on desktop screen sizes */
@media (min-width: 1024px) {
    body {
        padding: 10%;
    }
}

/* Styles the header */
.header {
    position: top;
    padding: 20px;
    text-align: center;
}

/* Default image size for the page's logo */
#logo {
    width:80px; 
    height:80px;
}

/* Changes the size of the page's logo ONLY IF the viewport is >1024px */
@media (min-width: 1024px) {
    #logo {
    width:200px; 
    height:200px;
    }
}

/* Navigation bar (parent) */
.topnav {
    overflow: hidden;
    justify-content: center;
    display: flex;
}

/* Styles for .topnav (child) */
.topnav a {
    color: black;
    text-align: center;
    font-size: 25px;
    padding: 30px;
    flex-grow: 1;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Darkens a specific .topnav cell when the user hovers over it */
.topnav a:hover {
    background-color: #c2c2c2;
    color: black;
}

/* styling for the main title */
/* .title needs a different text size on desktop so it has its own style and media query */
/* I would just use .header but that would affect everything that uses .header on desktop viewport */
.title {
    overflow: hidden;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 20px;
    background-color: white;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Enlarges the main title on desktop (>1024px) */
@media (min-width: 1024px) {
    .title {
        font-size: 40px;
    }
}

/* Any large text (i.e. titles and headings */
.heading {
    overflow: hidden;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 20px;
    background-color: white;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Main page text content */
.smallTextContent {
    text-align: left;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: white;
    padding: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* styling for the first paragraph */
/* Same situation as .title */
/* There's probably a better way of implementing this but it's fine for now */
.firstParagraph {
    text-align: left;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: white;
    padding: 5px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Increases padding around the first paragraph on desktop (>1024px) */
@media (min-width: 1024px) {
    .firstParagraph {
        font-size: 30px;
        padding: 50px;
    }
}

/* Default image size for the featured album covers */
#album {
    width: 100%;
    object-fit: contain;
}

/* Container for the various album covers featured */
.albumContainer {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
}

/* Shrinks the album cover size on desktop so they fit into a grid */
@media (min-width: 1024px) {
    #album {
        width:49%;
    }
}

/* NOTE: Desktop is meant to have 5 album covers in a weird configuration */
/* however we were given 6 images so a 2x3 grid made more sense to implement */

/* Default image size for the author's profile picture */
#author {
    text-align: center;
    max-width: 100%;
    border-radius: 50%;
    width:80px; 
    height:80px;
    object-fit: contain;
}

/* Changes the size of the author's profile picture ONLY IF the viewport is >1024px */
@media (min-width: 1024px) {
    #author {
        width:200px; 
        height:200px;
    }
}

/* Container for storing elements relating to the Author's paragraph at the bottom of the page */
.authorContainer {
    padding: 10px;
    text-align: right;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
}

/* Formats .authorContainer on desktop */
.authorFormatting{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    width: 50%;
}

/* Page footer */
.footer {
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #14181d;
}
